<section class="pending">
  <p>
    Le diagnostic est en cours ! <br>
    Cela prend généralement quelques minutes, la page va se rafraîchir toute seule.
  </p>
</section>
<script type="text/javascript">
  setTimeout(function() {
  location.reload();
}, 1000*30);
</script>
