.show
    header,
    .failed,
    .pending,
    .abandoned
        @include grid(12)
        h1,
        p
            grid-column: 1/9
    header ~ div
        background-color: $primary
        color: $white
        padding-top: $grid-gutter * 2
        a
            color: $white
        @include media-breakpoint-up(md)
            padding-top: $grid-gutter * 4
        @include media-breakpoint-up(xl)
            padding-top: $grid-gutter * 8
        @media (prefers-color-scheme: dark)
            background-color: $white
            color: $primary
            a
                color: $primary
    h3
        font-size: px2rem(45)
        margin-bottom: $grid-gutter
