.show
    h1
        overflow-wrap: break-word
    header,
    .failed,
    .pending,
    .abandoned
        @include grid(12)
        h1,
        h2,
        p
            grid-column: 1/9
    header ~ div
        background-color: $primary
        color: $white
        a
            color: $white
            text-decoration-color: $white
        &,
        & + section
            padding-top: $grid-gutter * 2
            @include media-breakpoint-up(md)
                padding-top: $grid-gutter * 4
            @include media-breakpoint-up(xl)
                padding-top: $grid-gutter * 8
        @media (prefers-color-scheme: dark)
            background-color: $white
            color: $primary
            a
                color: $primary
                text-decoration-color: $primary
    h2
        margin-top: -1rem
    h3
        font-size: px2rem(35)
        margin-bottom: $grid-gutter / 2
        @include media-breakpoint-up(md)
            margin-bottom: $grid-gutter
        @include media-breakpoint-up(lg)
            font-size: px2rem(45)
