<% content_for :title, @diag.to_s %>

<main aria-label="Content" class="show">
  <header>
    <h1><%= @diag %></h1>
  </header>

  <%= render "diags/status/#{@diag.status}" %>

  <section>
    <p>Vous voulez faire ce diagnostic pour une autre page ? <a href="/">Cliquez ici pour retourner à l’étape d’avant</a>.</p>
  </section>
</main>
