<% content_for :title, @diag.to_s %>

<main aria-label="Content" class="show">
  <header>
    <h1>Diagnostic écologique</h1>
    <p><%= @diag.url %></p>
  </header>

  <%= render "diags/status/#{@diag.status}" %>

  <section>
    <p>Vous voulez <a href="/">faire ce diagnostic pour une autre page&nbsp;?</a></p>
  </section>
</main>
