<% content_for :title, 'Testez plusieurs urls en même temps' %>

<main aria-label="Contenu" class="index">
  <header>
    <h1>Testez plusieurs urls en même temps</h1>
  </header>

  <section>
    <%= form_tag nil, novalidate: true, :class => 'form-multiple' do %>
      <label for="text">Entrez une url par ligne</label>
      <textarea name="text" id="text" rows="10" required></textarea>
      <button type="submit">Tester ces urls</button>
    <% end %>
    <p>
      Cet outil de diagnostic ne vous demande aucun email ou numéro de téléphone, et tente de vous donner des indications compréhensibles et actionnables. <br>
      Nous utilisons deux outils Open Source, <a href="https://developers.google.com/web/tools/lighthouse/" target="_blank" rel="noreferrer">Google Lighthouse</a> et <a href="https://www.websitecarbon.com/" target="_blank" rel="noreferrer">Website Carbon Calculator</a> et vous donnons toutes les sources des informations présentées.
    </p>
  </section>
</main>
