.pagination
    display: flex
    grid-column: 1/13
    justify-content: center
    margin-top: $grid-gutter
    a
        border: 1px solid white
        display: block
        padding: 5px 10px
        text-decoration: none
    .current
        a
            background-color: white
