.succeeded
    &__stats
        ul
            @include grid(12)
            font-family: $font-family-sans-serif
            margin-bottom: $grid-gutter * 2
            @include media-breakpoint-up(md)
                margin-bottom: $grid-gutter * 4
            @include media-breakpoint-up(xl)
                margin-bottom: $grid-gutter * 8
        li
            @include media-breakpoint-down(md)
                margin-bottom: $grid-gutter
        li:nth-child(1)
            grid-column: 1/4
        li:nth-child(2)
            grid-column: 4/7
        li:nth-child(3)
            grid-column: 7/10
        strong
            display: block
            font-size: px2rem(99)
            line-height: 1
        .gauge
            max-width: 995px
    &__resume
        @include grid(12)
        > div:first-child
            grid-column: 1/5
        > div:last-child
            grid-column: 5/12
        > div
            @include media-breakpoint-down(md)
                margin-bottom: $grid-gutter
    &__why
        > div
            @include grid(12)
            > div:nth-child(1)
                grid-column: 1/5
            > div:nth-child(2)
                grid-column: 5/9
            > div:nth-child(3)
                grid-column: 9/13
            > div
                @include media-breakpoint-down(md)
                    margin-bottom: $grid-gutter
        h2
            font-size: px2rem(55)
        p
            margin-bottom: 0
    &__action
        > div
            @include grid(12)
            > div:first-child
                grid-column: 1/5
            > div:last-child
                grid-column: 5/12
            &:last-child
                > div > div
                    @include grid(12)
                    picture
                        grid-column: 1/5
                    img
                        max-width: 50vw
                        width: 100%
                    p
                        grid-column: 5/12
        ol
            list-style: numeric
            margin: 0 0 50px 20px
        p + ol
            margin-top: -50px
