<footer>
  <div>
    <address class="h-card">
      <p class="p-name">noesya Paris</p>
      <span class="p-street-address">15 rue Hélène</span><br>
      <span class="p-postal-code">75017</span>&nbsp;<span class="p-locality">Paris</span><br>
      <span class="p-country-name">France</span>
    </address>
    <address class="h-card">
      <p class="p-name">noesya Bordeaux</p>
      <span class="p-street-address">5 rue Frédéric Joliot Curie</span><br>
      <span class="p-postal-code">33150</span>&nbsp;<span class="p-locality">Cenon</span><br>
      <span class="p-country-name">France</span>
    </address>
    <nav aria-label="Navigation dans l'écosystème" class="ecosystem">
      <ul>
        <li>
          <a href="https://www.noesya.coop">site</a>
        </li>
        <li>
          <a href="https://gouvernance.noesya.coop">gouvernance</a>
        </li>
        <li>
          diagnostic
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">réseau</span>
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">histoires</span>
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">stack</span>
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">méthode</span>
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">works</span>
        </li>
        <li>
          <span title="Ce site sera disponible bientôt..." aria-hidden="true">lab</span>
        </li>
      </ul>
    </nav>
    <a href="https://bcorporation.net/certification/all-pending-b-corps" target="_blank" rel="noreferrer" class="bcorp">
      <img src="https://assets.noesya.coop/images/logos/logo-bcorp-pending.svg" alt="Certified B-Corporation Pending" width="66" height="120">
    </a>
    <picture>
      <source
        sizes="(max-width: 576px) 100px, (min-width: 576px) 40vw, (min-width: 1200px) 15vw"
        srcset="https://d33wubrfki0l68.cloudfront.net/a1a922c1295048ad6d0c640ad73892dec1a3da9b/865d4/generated/assets/images/chouette/small-153-7e62e8dfc.webp 153w, https://d33wubrfki0l68.cloudfront.net/6fd980a079c29ebc4132f31f519eeb44785fed1f/6752b/generated/assets/images/chouette/small-208-7e62e8dfc.webp 208w, https://d33wubrfki0l68.cloudfront.net/aa66b6e41db909d136af6bf18931c653cde5eb1c/9ec6f/generated/assets/images/chouette/small-298-7e62e8dfc.webp 298w, https://d33wubrfki0l68.cloudfront.net/9c3a1c11695963663c419f6e00473c55d773df1e/41af9/generated/assets/images/chouette/small-306-7e62e8dfc.webp 306w, https://d33wubrfki0l68.cloudfront.net/dfab6b97766be7a579db79eae8c9f371e746f420/d7a0a/generated/assets/images/chouette/small-316-7e62e8dfc.webp 316w, https://d33wubrfki0l68.cloudfront.net/441a86e55cffc90ebdc72e6a118b1d6dc97e9e72/f85ee/generated/assets/images/chouette/small-355-7e62e8dfc.webp 355w, https://d33wubrfki0l68.cloudfront.net/9da11e93104484acddbcda76a931bbf3d36f1b88/f2083/generated/assets/images/chouette/small-364-7e62e8dfc.webp 364w"
        type="image/webp">
      <source
        sizes="(max-width: 576px) 100px, (min-width: 576px) 40vw, (min-width: 1200px) 15vw"
        srcset="https://d33wubrfki0l68.cloudfront.net/ffd21d058be064857abf9e4e1d7ae17838468c56/92bba/generated/assets/images/chouette/small-153-5c6c74496.png 153w, https://d33wubrfki0l68.cloudfront.net/c61e61029b3cb76c684900ef1870d689b299efe1/29350/generated/assets/images/chouette/small-208-5c6c74496.png 208w, https://d33wubrfki0l68.cloudfront.net/f9af16e663a00a0945ed78f6aab47f64407a60aa/abb9c/generated/assets/images/chouette/small-298-5c6c74496.png 298w, https://d33wubrfki0l68.cloudfront.net/77b7192b8ebc397877a0fad304f0666734de41d1/344d3/generated/assets/images/chouette/small-306-5c6c74496.png 306w, https://d33wubrfki0l68.cloudfront.net/0b1f88b7883adf63cb5d91e37889fdf32b9ee9e9/98bc5/generated/assets/images/chouette/small-316-5c6c74496.png 316w, https://d33wubrfki0l68.cloudfront.net/9536e61f2a9a0cc6d097a3eec1e967b223865658/2a287/generated/assets/images/chouette/small-355-5c6c74496.png 355w, https://d33wubrfki0l68.cloudfront.net/2c54d0705784408e234a1fc8be5ab7c31dd280ac/976a2/generated/assets/images/chouette/small-364-5c6c74496.png 364w"
        type="image/png">
      <img alt="La chouette noesya" src="https://d33wubrfki0l68.cloudfront.net/2c54d0705784408e234a1fc8be5ab7c31dd280ac/976a2/generated/assets/images/chouette/small-364-5c6c74496.png" width="364" height="668">
    </picture>
    <nav aria-label="Pages légales" class="legal">
      <ul>
        <li>
          <a href="https://www.noesya.coop/mentions-legales">Mentions légales</a>
        </li>
        <li>
          <a href="https://www.noesya.coop/politique-de-sobriete">Politique de sobriété</a>
        </li>
      </ul>
    </nav>
    <nav aria-label="Contacts" class="contacts">
      <ul>
        <li>
          <a href="https://www.linkedin.com/company/noesyacoop" target="_blank" rel="noreferrer" class="">LinkedIn</a>
        </li>
        <li>
          <a href="mailto:contact@noesya.coop" target="_blank" rel="noreferrer" class="u-email">contact@noesya.coop</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<script src="https://www.noesya.coop/assets/js/main.js"></script>
