<header id="header">
  <a href="/">
    <img src="https://assets.noesya.coop/images/logos/logo-noesya.svg" alt="noesya" width="100" height="26">
  </a>
  <em>Diagnostic</em>
  <button class="burger" style="display: none" aria-label="Ouvrir / Fermer le menu"> <i></i> <span></span> </button>
</header>
